<div class="flex flex-col mb-4">
  <div class="flex flex-col sm:flex-row">
    <div class="flex flex-col mx-auto sm:mx-0 md:w-2/5 sm:mr-4">
      <% unless profile.profile_picture.blank? %>
        <%= filestack_image profile.profile_picture, class:'h-64 w-64' %>
      <% else %>
        <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="Profile picture" width="300" height="400">
      <% end %>
    </div>
    <div class="flex flex-col md:w-2/5">
      <div class="flex flex-row text-lg mb-4">
        <div class="font-semibold mr-4">Name:</div>
        <div><%= profile.first_name + ' ' + profile.last_name %></div>
      </div>
      <div class="flex flex-row text-lg mb-4">
        <div class="font-semibold mr-4">Username:</div>
        <div><%= profile.username %></div>
      </div>
      <div class="flex flex-row mb-4">
        <div class="font-semibold mr-4">Address:</div>
        <div><%= 'address' %></div>
      </div>
      <div class="flex flex-row mb-4">
        <div class="font-semibold mr-4">Email:</div>
        <div><%= profile.email %></div>
      </div>
      <div class="flex flex-row mb-4">
        <div class="font-semibold mr-4">Public Page:</div>
        <div><%= link_to 'View', root_url + profile.info.public_src, class:'underline', 'data-turbo-frame': :_top unless profile.info.public_src.blank? %></div>
      </div>
      <div class="flex flex-row mb-4">
        <div class="font-semibold mr-4">Phone:</div>
        <div><%= profile.info.phone %></div>
      </div>
    </div>
  </div>

</div>

<div class="flex flex-col md:flex-row mt-4">
  <div class="flex flex-row md:w-2/5 mr-4">
    <div class="font-semibold mr-4">Current Status:</div>
    <div><%= profile.info.status %></div>
  </div>
  <div class="flex flex-row md:w-2/5">
    <div class="font-semibold mr-4">Active Role:</div>
    <div><%= profile.role %></div>
  </div>
</div>

<div class="border-t mt-4"></div>

<div class="mt-8">
  <div class="text-3xl font-semibold">About Me</div>
  <div class="text-justify mt-4"><%= simple_format profile.info.about %></div>
</div>

<% if current_user.id == profile.id || current_user.admin? %>
  <div class="mt-16"><%= link_to 'edit', edit_profile_path(profile), class:'underline' %></div>
<% end %>