<div class="flex min-h-screen">
  <!-- Sidenav --> 
  <%= render 'shared/sidenav' %>

  <main class="flex-shrink w-full bg-gray-100 dark:bg-gray-900 relative">
    <!-- Header -->
    <%= render 'shared/navbar' %>

    <div class="px-4 md:px-6">
    
      <!-- Page Head -->
      <div class="mt-4 flex flex-col md:flex-row dark:text-white">
        <div class="flex-col flex-grow">
          <div class="flex flex-row space-x-2">
            <%= link_to :back do %><i class="fas fa-chevron-left text-4xl"></i><% end %>
            <h1 class="text-4xl font-semibold text-gray-800 dark:text-white"><%= @profile.username %></h1>
          </div>
          <h2 class="ml-8 text-gray-400"><%= @school.name %></h2>
        </div>
      </div>

      <!-- Page Content -->
      <div class="mt-8 mb-16 dark:text-white">
        <div data-controller="tabs" data-tabs-active-tab="-mb-px border-l border-t border-r rounded-t dark:border-gray-500">
          <ul class="list-reset flex border-b dark:border-gray-500">
            <li class="-mb-px mr-2" data-tabs-target="tab" data-action="click->tabs#change">
              <a class="bg-white dark:bg-gray-800 inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline" href="#">Profile</a>
            </li>
            <li class="mr-2" data-tabs-target="tab" data-action="click->tabs#change">
              <a class="bg-white dark:bg-gray-800 inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline" href="#">Courses</a>
            </li>            
          </ul>

          <div class="hidden py-4 px-4 border-l border-b border-r bg-white dark:bg-gray-800 dark:border-gray-500" data-tabs-target="panel">
            <div class="flex flex-col p-4">
              <%= turbo_frame_tag 'profile' do %>
                <%= render 'profile', profile: @profile %>
              <% end %>
            </div>
          </div>

          <div class="hidden py-4 px-4 border-l border-b border-r bg-white dark:bg-gray-800 dark:border-gray-500" data-tabs-target="panel">
            <div class="flex flex-col p-4">
              <% unless @profile.student? %>
                <%= render 'profiles/created_courses', profile: @profile %>
              <% else %>
                <%= render 'profiles/user_courses', profile: @profile %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
        
    </div>
  </main>

</div>