<%= turbo_frame_tag dom_id(group_announcement) do %>
  <div class="mt-8 w-full md:w-4/5 mx-auto bg-white dark:bg-gray-800 shadow">
    <div class="flex flex-row items-center justify-between px-4 py-2 border-b">
      <div class="flex flex-row items-center space-x-2">
        <div class="px-2 py-1 btn-indigo rounded-full"><i class="fas fa-bullhorn text-sm"></i></div>
        <%= link_to group_announcement.user.username, profile_path(group_announcement.user.id), class:'text-xl text-blue-700 dark:text-blue-300' %>
      </div>
      <div class="flex flex-row space-x-2 dark:text-white">
        <div data-edit-target="options" data-controller="edit" id=<%= group_announcement.user_id %>>
          <%= link_to edit_group_post_path(group_announcement), class:'text-blue-600 mr-2' do %>
            <i class="fas fa-pen"></i>
          <% end %>
          <%= link_to group_announcement, class:'text-red-600 hover:text-red-800 mr-4', data: { turbo_method:"delete", turbo_confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
        <%= group_announcement.created_at.to_formatted_s(:short) %>
      </div>
    </div>

    <div class="px-4 py-2 dark:text-white">
      <%= simple_format group_announcement.body %>
    </div>

    <div class="mt-2 mx-4 flex flex-row justify-between" data-controller="bird">
      <button <% unless group_announcement.likes.exists?(user_id: session[:user_id]) %> class="hidden" <% end %>
        data-bird-target="unlike"
        data-bird-url-param=<%= group_post_like_path(group_post_id: group_announcement.id) %>
        data-bird-count-param=<%= group_announcement.like_count - 1 %>
        data-action="click->bird#like"
      >
        <i class="fas fa-heart text-red-600"></i>
      </button>

      <button <% if group_announcement.likes.exists?(user_id: session[:user_id]) %> class="hidden" <% end %>
        data-bird-target="like"
        data-bird-url-param=<%= group_post_like_path(group_post_id: group_announcement.id) %>
        data-bird-count-param=<%= group_announcement.like_count + 1 %>
        data-action="click->bird#like"
      >
        <i class="far fa-heart dark:text-white hover:text-red-600"></i>
      </button>

      <div class="flex flex-row items-center">
        <%= likeCounter group_announcement %>
        <%= commentCounter group_announcement %>
      </div>
    </div>

    <%= render 'group_comments/comment_form', group_post: group_announcement, comment: group_announcement.comments.build %>

    <div class="border-t">
      <% group_announcement.comments.each do |comment| %>
        <%= render 'group_comments/comment', comment: comment %>
      <% end %>      
    </div>

  </div>
<% end %>
