<div class="flex min-h-screen">
  <!-- Sidenav --> 
  <%= render 'shared/sidenav' %>

  <main class="flex-shrink w-full bg-gray-100 dark:bg-gray-900 relative">
    <!-- Header -->
    <%= render 'shared/navbar' %>

    <div class="px-4 md:px-6" data-controller="modal">

      <!-- Page Head -->
      <div class="mt-4 flex flex-row dark:text-white">
        <div class="flex-col flex-grow">
          <div class="flex flex-row space-x-2">
            <%= link_to @assignment.course do %><i class="fas fa-chevron-left text-4xl"></i><% end %>
            <h1 class="text-4xl font-semibold text-gray-800 dark:text-white"><%= @assignment.name %></h1>              
            <%= link_to '(edit)', edit_assignment_path(@assignment), class:"my-auto underline" unless current_user.student? %> 
          </div>
          <h2 class="ml-8 text-gray-400"><%= @school.name %></h2>
        </div>
        <div class="mx-4">
          <% unless current_user.student? %>
            <% if @assignment.quizz? %>
              <%= link_to "Add Question", new_question_path(assignment_id: @assignment.id), class:'btn-sm btn-yellow mx-3' %>
            <% end %>
            <a href="#" data-action="click->modal#open" class="btn-sm btn-lime">
              <span>Add Asset</span>
            </a>
          <% end %>
        </div>
      </div>

      <!-- Page Conent -->
      <div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-800 relative my-8 dark:text-white">
        <h2 class="text-2xl w-max text-gray-800 dark:text-white font-semibold border-b border-gray-200">Description</h2>
        <div class="my-4 text-justify"><%= @assignment.description %></div>

        <% if @assignment.files.attached? %>
          <h3 class="text-xl w-max text-gray-800 dark:text-white font-semibold border-b border-gray-200 mt-12">Assets</h3>
          <div class="my-4 flex flex-col">
            <% @assignment.files.each do |file| %>
              <div class="text-lg mb-2">
                <%= link_to assignment_delete_files_attachment_path(assignment_id: @assignment.id, file_id: file.id), 
                data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash text-red-600 hover:text-red-800"> </i>
                <% end %>
                
                <%= link_to file.filename, rails_blob_path(file, disposition: 'preview'), class:'underline ml-4' %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="pt-4 border-t">
          <%= printDeadline @assignment %>
          <%= printTimeLeft @assignment %>
        </div>
      </div>

      <div class="my-5 dark:text-white">
        <% if @assignment.quizz? %>
          <h2 class="text-2xl font-bold mt-16">Questions</h2>

          <% @questions.each do |question| %>
            <%= render 'questions/question', assignment_id: @assignment.id, question: question %>
          <% end %>
        <% end %>
      </div>

      <div class="mt-16 ml-8 dark:text-white">
        <h2 class="text-2xl font-bold">Comments</h2>
        <%= form_with(model: [@assignment, @assignment.comments.build]) do |f| %>
          <div class="my-2">
            <%= f.label 'New comment' %>
            <%= f.text_area :body, class: 'flex-1 my-2 appearance-none border border-gray-300 w-full py-3 px-4 bg-white text-gray-700 placeholder-gray-400 rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent' %>
            <%= f.text_field :target_type, id: :comment_target_type, value: @assignment.class.name, type: :hidden %>
            <%= f.number_field :target_id, id: :comment_target_id, value: @assignment.id, type: :hidden %>
            <%= f.number_field :user_id, id: :comment_user_id, value: current_user.id, type: :hidden %>
          </div>
          <%= f.submit 'Submit', class: 'btn btn-blue' %>
        <% end %>
        <div class="mt-5 mb-16">
          <%= render @assignment.comments, target: @assignment %>
        </div>
      </div>

      <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
        <!-- Modal Inner Container -->
        <div class="max-h-screen w-full max-w-xl relative">
          <!-- Modal Card -->
          <div class="m-1 bg-white dark:bg-gray-900 rounded shadow">
            <div class="p-8">
              <%= form_with(model: @assignment, local: true) do |form| %>
                <div class="flex flex-col space-y-2">
                  <%= form.label :files, class:'font-semibold' %>
                  <%= form.file_field :files, multiple: true %>
                </div>

                <div class="flex flex-row justify-between items-center flex-wrap mt-12">
                  <button class="btn-sm btn-gray" data-action="click->modal#close">Close</button>
                  <div class="w-28"><%= form.submit 'Submit', class:'btn-sm btn-submit' %></div>
                </div>
              <% end %>           
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

</div>