<div class="signup-form">
  <%= form_with(model: lecture) do |form| %>
    <% if lecture.errors.any? %>
      <div id="error_explanation" class="my-8">
        <h2 class="text-xl mb-2"><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

        <ul class="space-y-2">
          <% lecture.errors.each do |error| %>
            <li class="w-full flex items-center px-4 py-2  text-base rounded-full text-red-600 bg-red-200">
              <%= error.full_message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :name, autocomplete: "name", class:"form-field w-full", placeholder:"Name of the lecture" %>

    <%= form.rich_text_area :description, size:"10x10", autocomplete: "description", class:"form-field w-full bg-white", placeholder:"Description" %>

    <div class="">
      <div class="form-field w-full bg-white"> <%= @course.name %> </div>
      <%= form.number_field :course_id, id: :lecture_course_id, value: @course.id, type: :hidden %>
    </div>

    <%= form.submit 'Submit', class:"btn-submit mt-4" %>
  <% end %>
</div>