<main class="bg-gray-100 dark:bg-gray-900 h-screen overflow-hidden relative">
  <div class="flex items-start justify-between">
    <!-- Sidenav --> 
    <%= render 'shared/sidenav' %>


    <div class="flex flex-col w-full md:space-y-4">
      <!-- Header -->
      <%= render 'shared/navbar' %>

      <div class="overflow-auto h-screen pb-24 px-4 md:px-6 z-20">
        <!-- Page Head -->
        <div class="mt-4 flex flex-col md:flex-row dark:text-white">
          <%= link_to schools_path do %><i class="fas fa-chevron-left text-4xl mb-4 md:mx-4"></i><% end %>
          <div class="flex-col flex-grow">
            <h1 class="text-4xl font-semibold text-gray-800 dark:text-white">Lectures for: <%= @course.name %></h1>
            <h2 class=" text-gray-400"><%= @school.name %></h2>
          </div>
        </div>

        <!-- Page Conent -->
        <div class="w-full overflow-hidden shadow-xs my-8">
          
          <div class="my-4">
            <%= form_tag lectures_mass_delete_path, method: 'delete', data: { turbo_confirm: 'Are you sure?' } do %>
              <div class="w-full overflow-hidden rounded-lg shadow-xs my-8">
                <div class="flex flex-row justify-between">
                  <h2 class="text-3xl my-2 ml-4 dark:text-white">Lectures<h2>
                  <div class="mx-8">
                    <%= submit_tag "Delete selected", :class => 'btn-sm btn-gray' %>
                  </div>
                </div>
                <div class="w-full overflow-x-auto">
                  <table class="w-full whitespace-no-wrap" data-controller="checkbox-select-all">
                    <thead>
                      <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-800 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">Name</th>
                        <th class="px-4 py-3">Description</th>
                        <th class="px-4 py-3"></th>
                        <th class="px-4 py-3" data-sort-ignore="true"><input id="checkbox-select-all" type="checkbox" data-checkbox-select-all-target="checkboxAll"></th>
                      </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-800 dark:bg-gray-700">
                       <% @lectures.each do |lecture| %>
                        <tr class="text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-black">
                          <td class="px-4 py-3"><%= link_to lecture.name, lecture_path(lecture.id), class:"font-semibold" %></td>
                          <td class="px-4 py-3"><%= lecture.description.truncate(20) %></td>
                          <td class="px-4 py-3"><%= link_to 'Delete', lecture_url(id: lecture.id), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }, class:"btn-sm btn-red" %></td>
                          <td class="px-4 py-3"><%= check_box_tag 'lecture_ids[]', lecture.id, false, data: { checkbox_select_all_target: 'checkbox' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
      
          </div>

        </div>      
      </div>
    </div>
  </div>
</main>