<div class="flex min-h-screen">
  <!-- Sidenav --> 
  <%= render 'shared/sidenav' %>

  <main class="flex-shrink w-full bg-gray-100 dark:bg-gray-900 relative">
    <!-- Header -->
    <%= render 'shared/navbar' %>

    <div class="px-4 md:px-6" data-controller="modal">

      <!-- Page Head -->
      <div class="mt-4 flex flex-row dark:text-white">
        <div class="flex-col flex-grow">
          <div class="flex flex-row space-x-2">
            <%= link_to @lecture.course do %><i class="fas fa-chevron-left text-4xl"></i><% end %>
            <h1 class="text-4xl font-semibold text-gray-800 dark:text-white"><%= @lecture.name %></h1>
            <%= link_to '(edit)', edit_lecture_path(@lecture), class:"my-auto underline" unless current_user.student? %> 
          </div>
          <h2 class="ml-8 text-gray-400"><%= @school.name %></h2>
        </div>
        <div class="mx-4">
          <a href="#" data-action="click->modal#open" class="btn-sm btn-lime">
            <span><i class="fas fa-plus text-xs"></i> Asset</span>
          </a>
        </div>
      </div>

      <!-- Page Conent -->
      <div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-700 relative my-8 dark:text-white">
        <h2 class="text-2xl w-max text-gray-800 dark:text-white font-semibold border-b border-gray-200">Description</h2>
        <div class="my-4 text-justify"><%= @lecture.description %></div>

        <% if @lecture.files.attached? %>
          <h3 class="text-xl w-max text-gray-800 dark:text-white font-semibold border-b border-gray-200 mt-12">Assets</h3>
          <div class="mt-4 flex flex-col">
            <% @lecture.files.each do |file| %>
              <div class="mb-2">
                <%= link_to lecture_delete_files_attachment_path(lecture_id: @lecture.id, file_id: file.id), 
                data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash text-red-600 hover:text-red-800"> </i>
                <% end %>
                
                <%= link_to file.filename, rails_blob_path(file, disposition: 'preview'), class:'underline ml-4' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>      

      <div class="mt-16 ml-8 dark:text-white">
        <h2 class="text-2xl font-bold">Comments</h2>
        <%= form_with(model: [@lecture, @lecture.comments.build]) do |f| %>
          <div class="my-2">
            <%= f.label 'New comment' %>
            <%= f.text_area :body, class: 'flex-1 my-2 appearance-none border border-gray-300 w-full py-3 px-4 bg-white text-gray-700 placeholder-gray-400 rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent' %>
            <%= f.text_field :target_type, id: :comment_target_type, value: @lecture.class.name, type: :hidden %>
            <%= f.number_field :target_id, id: :comment_target_id, value: @lecture.id, type: :hidden %>
            <%= f.number_field :user_id, id: :comment_user_id, value: current_user.id, type: :hidden %>
          </div>
          <%= f.submit 'Submit', class: 'btn btn-blue' %>
        <% end %>
        <div class="mt-4 mb-16">
          <%= render @lecture.comments, target: @lecture %>
        </div>
      </div>

      <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
        <!-- Modal Inner Container -->
        <div class="max-h-screen w-full max-w-xl relative">
          <!-- Modal Card -->
          <div class="m-2 bg-white dark:bg-gray-900 rounded shadow">
            <%= form_with(model: @lecture, local: true) do |form| %>
              <div class="p-4">
                <div class="flex flex-col space-y-2">
                  <%= form.label :files, class:'font-semibold' %>
                  <%= form.file_field :files, multiple: true %>
                </div>
              </div>

              <div class="flex justify-end items-center flex-wrap space-x-2 p-4 rounded-b">
                <button class="btn-sm btn-gray" data-action="click->modal#close">Cancle</button>
                <div class="w-28"><%= form.submit 'Add', class:'btn-sm btn-submit' %></div>
              </div>
            <% end %>           
          </div>
        </div>
      </div>

    </div>

  </main>
</div>