<% unless comment.parent_id || !comment.persisted? %>
  <div class="bg-white dark:bg-gray-800 w-full rounded-lg p-3 mb-1 shadow sm:inline-block">
    <div class="dark:text-white">
      <p class="font-bold mb-2"><%= comment.user.username %></p>
      <div class="flex flex-col">
        <%= comment.body %>
        <%= link_to 'reply', new_comment_path(target_type: @target.class.name, target_id: @target.id, parent_id: comment.id), remote: true, class: 'mt-1 font-semibold' %>
      </div>
    </div>
  </div>
  <% if comment.replies.any? %>
    <div class="ml-8">
      <% comment.replies.each do |reply| %> 
          <%= render partial: 'comments/reply', locals: { reply: reply } %>
      <% end %>
    </div>
  <% end %>
  <div id="reply-form-<%= comment.id %>"></div>
<% end %>