<div class="bg-white dark:bg-gray-800 rounded shadow w-full dark:text-white">
  <div class="flex justify-between border-r border-l border-t px-4 py-2">
    <%= link_to calendar_week_path(start_date: start_date - 1.week), class:"text-lg" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <span class="text-xl font-semibold space-x-2"><%= t('date.month_names')[start_date.month] %> - <%= start_date.year %></span>
    <%= link_to calendar_week_path(start_date: start_date + 1.week), class:"text-lg" do %>
      <i class="fas fa-arrow-right"></i>
    <% end %>
  </div>

  <table class="w-full">
    <thead>
      <tr>
        <th class="border p-1 h-10 w-10 xl:text-sm text-xs">
          Hours
        </th>
        <% date_range_week.slice(0, 7).each do |day| %>
          <th class="border p-1 h-10 xl:w-36 lg:w-32 md:w-32 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="<%= "bg-indigo-200 dark:bg-indigo-900 rounded-full px-2 py-1" if day == Date.today %>">
              <%= link_to "#{t('date.abbr_day_names')[day.wday]} - #{day.mday}", calendar_day_path(start_date: day) %>
            </span>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody class="border">
      <% (0..23).each do |hour| %>
        <tr class="text-center h-4">
          <td class="p-1 h-12 w-10"><div class="-mt-8"></div> <%= "#{hour}:00" unless hour == 0 %> </td>

          <% date_range_week.slice(0, 7).each do |day| %>
            <td class="border p-1 h-12 xl:w-36 lg:w-32 md:w-32 sm:w-20 w-10 overflow-hidden">

              <div class="events flex flex-row space-x-2">
                <% events.each do |event| %>
                  <% if isEventOnHour(event, day, hour) %>
                    <%= render 'events/day_event', event: event %>
                  <% end %>
                <% end %>
              </div>

              <div class="assignments flex flex-row space-x-2">
                <% assignments.each do |assignment| %>
                  <% if isAssignmentNow(assignment, day, hour) %>
                    <%= link_to assignment.name, assignment, class:"flex flex-grow px-2 py-1 bg-red-500 text-white hover:text-white" %>
                  <% end %>
                <% end %>
              </div>

            </td>
          <% end %>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
