<div class="flex min-h-screen">
  <!-- Sidenav --> 
  <%= render 'shared/sidenav' %>

  <main class="flex-shrink w-full bg-gray-100 dark:bg-gray-900 relative">
    <!-- Header -->
    <%= render 'shared/navbar' %>

    <div class="px-4 md:px-6" data-controller="modal hider">
    
      <!-- Page Head -->
      <div class="mt-4 flex flex-col md:flex-row dark:text-white">
        <div class="flex-col flex-grow">
          <div class="flex flex-row space-x-2">
            <%= link_to calendar_path(start_date: @start_date) do %><i class="fas fa-chevron-left text-4xl"></i><% end %>
            <h1 class="text-4xl font-semibold text-gray-800 dark:text-white">Daily Calendar</h1>
          </div>
          <h2 class="ml-8 text-gray-400"><%= @school.name %></h2>
        </div>
        <div class="flex flex-row items-center mx-4 mt-4 md:mt-0 space-x-4">
        
          <div class="relative" data-controller="dropdown"
            data-dropdown-invisible-class="opacity-0 scale-95"
            data-dropdown-visible-class="opacity-100 scale-100"
            data-dropdown-entering-class="ease-out duration-100"
            data-dropdown-enter-timeout="100"
            data-dropdown-leaving-class="ease-in duration-100"
            data-dropdown-leave-timeout="100">
            <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
              <span class="p-2 focus:border-blue-700 rounded border-2 outline-none bg-white text-black">
                Events <i class="fas fa-angle-down"></i>
              </span>
            </div>
            <div data-dropdown-target="menu" class="absolute right-0 mt-4 hidden w-32 transform transition opacity-0 scale-95">
              <div class="bg-white shadow rounded border overflow-hidden" data-controller="checkbox-select-all">
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="checkbox-select-all" class="h-4 w-4 mr-1" data-checkbox-select-all-target="checkboxAll"> All
                </div>
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="events toggle" class="h-4 w-4 mr-1" checked
                      data-hider-group-param="events" data-action="input->hider#hideGroup"
                      data-checkbox-select-all-target="checkbox"> Personal
                </div>
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="assignments toggle" class="h-4 w-4 mr-1" checked
                      data-hider-group-param="assignments" data-action="input->hider#hideGroup"
                      data-checkbox-select-all-target="checkbox"> General
                </div>
              </div>
            </div>
          </div>

          <div class="relative" data-controller="dropdown"
            data-dropdown-invisible-class="opacity-0 scale-95"
            data-dropdown-visible-class="opacity-100 scale-100"
            data-dropdown-entering-class="ease-out duration-100"
            data-dropdown-enter-timeout="100"
            data-dropdown-leaving-class="ease-in duration-100"
            data-dropdown-leave-timeout="100">
            <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
              <span class="p-2 focus:border-blue-700 rounded border-2 outline-none bg-white text-black">
                Colors <i class="fas fa-angle-down"></i>
              </span>
            </div>
            <div data-dropdown-target="menu" class="absolute right-0 mt-4 hidden w-32 transform transition opacity-0 scale-95">
              <div class="bg-white shadow rounded border overflow-hidden" data-controller="checkbox-select-all">
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="checkbox-select-all" class="h-4 w-4 mr-1" data-checkbox-select-all-target="checkboxAll"> All
                </div>
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="bg-blue-500 text-white toggle" class="h-4 w-4 mr-1" checked
                      data-hider-group-param="bg-blue-500 text-white" data-action="input->hider#hideGroup"
                      data-checkbox-select-all-target="checkbox"> Blue 
                  <div class="h-4 w-4 rounded-full bg-blue-500 ml-1"></div> 
                </div>
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="bg-red-500 text-white toggle" class="h-4 w-4 mr-1" checked
                      data-hider-group-param="bg-red-500 text-white" data-action="input->hider#hideGroup"
                      data-checkbox-select-all-target="checkbox"> Red 
                  <div class="h-4 w-4 rounded-full bg-red-500 ml-1"></div> 
                </div>
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="bg-green-500 text-white toggle" class="h-4 w-4 mr-1" checked
                      data-hider-group-param="bg-green-500 text-white" data-action="input->hider#hideGroup"
                      data-checkbox-select-all-target="checkbox"> Green 
                  <div class="h-4 w-4 rounded-full bg-green-500 ml-1"></div> 
                </div>
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="bg-yellow-500 text-white toggle" class="h-4 w-4 mr-1" checked
                      data-hider-group-param="bg-yellow-500 text-white" data-action="input->hider#hideGroup"
                      data-checkbox-select-all-target="checkbox"> Yellow 
                  <div class="h-4 w-4 rounded-full bg-yellow-500 ml-1"></div> 
                </div>
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="bg-indigo-500 text-white toggle" class="h-4 w-4 mr-1" checked
                      data-hider-group-param="bg-indigo-500 text-white" data-action="input->hider#hideGroup"
                      data-checkbox-select-all-target="checkbox"> Indigo 
                  <div class="h-4 w-4 rounded-full bg-indigo-500 ml-1"></div> 
                </div>
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="bg-gray-500 text-white toggle" class="h-4 w-4 mr-1" checked
                      data-hider-group-param="bg-gray-500 text-white" data-action="input->hider#hideGroup"
                      data-checkbox-select-all-target="checkbox"> Gray 
                  <div class="h-4 w-4 rounded-full bg-gray-500 ml-1"></div> 
                </div>
                <div class="flex items-center px-4 py-2">
                  <input type="checkbox" name="" id="bg-black text-white toggle" class="h-4 w-4 mr-1" checked
                      data-hider-group-param="bg-black text-white" data-action="input->hider#hideGroup"
                      data-checkbox-select-all-target="checkbox"> Black 
                  <div class="h-4 w-4 rounded-full bg-black ml-1"></div> 
                </div>
              </div>
            </div>
          </div>

          <div class="relative" data-controller="dropdown"
            data-dropdown-invisible-class="opacity-0 scale-95"
            data-dropdown-visible-class="opacity-100 scale-100"
            data-dropdown-entering-class="ease-out duration-100"
            data-dropdown-enter-timeout="100"
            data-dropdown-leaving-class="ease-in duration-100"
            data-dropdown-leave-timeout="100">
            <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
              <span class="p-2 focus:border-blue-700 rounded border-2 outline-none bg-white text-black">
                Day <i class="fas fa-angle-down"></i>
              </span>
            </div>
            <div data-dropdown-target="menu" class="absolute right-0 mt-2 hidden w-28 transform transition opacity-0, scale-95">
              <div class="bg-white shadow rounded border overflow-hidden">
                <%= link_to "Month" , calendar_path(start_date: @start_date), data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-4 py-2 border-b bg-white hover:bg-gray-100 hover:text-black' %>
                <%= link_to "Week" , calendar_week_path(start_date: @start_date), data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-4 py-2 border-b bg-white hover:bg-gray-100 hover:text-black' %>
                <span data-action="click->dropdown#toggle" class='no-underline block px-4 py-2 bg-white hover:bg-gray-100'>Day</span>
              </div>
            </div>
          </div>

          <button href="#" data-action="click->modal#open" class="btn-sm btn-lime">
            <span><i class="fas fa-plus text-xs"></i> Event</span>
          </button>
        </div>
      </div>

      <!-- Page Conent -->
      <div class="my-4">
      <%= render 'day_calendar', events: @events, assignments: @assignments %>
      </div>

      <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
        <!-- Modal Inner Container -->
        <div class="max-h-screen w-full max-w-xl relative">
          <!-- Modal Card -->
          <div class="m-2 bg-white dark:bg-gray-900 rounded shadow">
            <div class="p-4">
              <h2 class="ml-4 font-semibold text-xl mb-4">Create a new Event</h2>
              <%= render 'events/form', event: Event.new %>
            </div>
          </div>
        </div>
      </div>

      <% content_for :head do %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">
      <% end %>
    
    </div>
  </main>

</div>