<div class="flex min-h-screen">
  <!-- Sidenav --> 
  <%= render 'shared/sidenav' %>

  <main class="flex-shrink w-full bg-gray-100 dark:bg-gray-900 relative">
    <!-- Header -->
    <%= render 'shared/navbar' %>

    <div class="px-4 md:px-6" data-controller="modal hider">
    
      <!-- Page Head -->
      <div class="mt-4 flex flex-col md:flex-row dark:text-white">
        <div class="flex-col flex-grow">
          <div class="flex flex-row space-x-2">
            <%= link_to schools_path do %><i class="fas fa-chevron-left text-4xl"></i><% end %>
            <h1 class="text-4xl font-semibold text-gray-800 dark:text-white">Calendar</h1>
          </div>
          <h2 class="ml-8 text-gray-400"><%= @school.name %></h2>
        </div>
        <div class="flex flex-row items-center mx-4 mt-4 md:mt-0 space-x-4">
          <div class="">
            <span>personal</span>
            <div class="relative inline-block w-10 align-middle select-none transition duration-200 ease-in">
              <input type="checkbox" checked data-hider-group-param="events" data-action="click->hider#hideGroup"
                      class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-2
                      border-gray-300 dark:border-gray-800 appearance-none cursor-pointer"/>
              <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 dark:bg-gray-900 cursor-pointer"></label>
            </div>
          </div>
          
          <div class="">
            <span>general</span>
            <div class="relative inline-block w-10 align-middle select-none transition duration-200 ease-in">
              <input type="checkbox" checked data-hider-group-param="assignments" data-action="click->hider#hideGroup"
                      class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-2
                      border-gray-300 dark:border-gray-800 appearance-none cursor-pointer"/>
              <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 dark:bg-gray-900 cursor-pointer"></label>
            </div>
          </div>
          
          <div class="relative" data-controller="dropdown"
            data-dropdown-invisible-class="opacity-0 scale-95"
            data-dropdown-visible-class="opacity-100 scale-100"
            data-dropdown-entering-class="ease-out duration-100"
            data-dropdown-enter-timeout="100"
            data-dropdown-leaving-class="ease-in duration-100"
            data-dropdown-leave-timeout="100">
            <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
              <span class="p-2 focus:border-blue-700 rounded border-2 outline-none bg-white text-black">
                Month <i class="fas fa-angle-down"></i>
              </span>
            </div>
            <div data-dropdown-target="menu" class="absolute right-0 mt-2 hidden w-28 transform transition opacity-0, scale-95">
              <div class="bg-white shadow rounded border overflow-hidden">
                <span data-action="click->dropdown#toggle" class='no-underline block px-4 py-2 bg-white hover:bg-gray-100'>Month</span>
                <%= link_to "Week" , calendar_week_path(start_date: @start_date), data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-4 py-2 border-t bg-white hover:bg-gray-100 hover:text-black' %>
                <%= link_to "Day" , calendar_day_path(start_date: @start_date), data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-4 py-2 border-t bg-white hover:bg-gray-100 hover:text-black' %>
              </div>
            </div>
          </div>
                  
          <button href="#" data-action="click->modal#open" class="btn-sm btn-lime">
            <span><i class="fas fa-plus text-xs"></i> Event</span>
          </button>
        </div>
      </div>

      <!-- Page Conent -->
      <div class="my-4">
        <%= render 'calendar', events: @events, assignments: @assignments %>
      </div>

      <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
        <!-- Modal Inner Container -->
        <div class="max-h-screen w-full max-w-xl relative">
          <!-- Modal Card -->
          <div class="m-2 bg-white dark:bg-gray-900 rounded shadow">
            <div class="p-4">
              <h2 class="ml-4 font-semibold text-xl mb-4">Create a new Event</h2>
              <%= render 'events/form', event: Event.new %>
            </div>
          </div>
        </div>
      </div>

      <% content_for :head do %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">
      <% end %>
    
    </div>
  </main>

</div>