<div class="flex min-h-screen">
  <!-- Sidenav --> 
  <%= render 'shared/sidenav' %>

  <main class="flex-shrink w-full bg-gray-100 dark:bg-gray-900 relative">
    <!-- Header -->
    <%= render 'shared/navbar' %>

    <div class="px-4 md:px-6">
        <!-- Page Head -->
        <div class="mt-4 flex flex-col md:flex-row dark:text-white">
          <div class="flex-col flex-grow">
            <div class="flex flex-row space-x-2">
              <%= link_to :back do %><i class="fas fa-chevron-left text-4xl"></i><% end %>
              <h1 class="text-4xl font-semibold text-gray-800 dark:text-white">Admin Dashboard</h1>
            </div>
            <h2 class="ml-8 text-gray-400"><%= @school.name %></h2>
          </div>
          <div class="mx-4">
          </div>
        </div>

        <!-- Page Conent -->
        <div class="mt-8 mb-16 dark:text-white">
          <%= turbo_frame_tag "admin_content" do %>
            <div class="mb-16 mt-8">
              <h2 class="font-semibold text-3xl border-b dark:text-white">Export users to CSV</h2>

              <div class="flex flex-col">
                <div class="shadow-lg px-8 py-6 w-full bg-white dark:bg-gray-800 relative my-4 dark:text-white">
                  <%= form_with url: "#{users_path}.csv", method: :get do |form| %>

                    <p class="text-lg my-2 text-gray-600 dark:text-gray-300">You can download users data in CSV format based on your reqests.</p>

                    <p class="text-lg mt-8"><strong>Step1:</strong> Set export options </p>
                    <div class="flex flex-col">

                      <div class="flex flex-row mt-8">
                        <div class="text-lg w-1/4">&#8226 Role:</div>
                        <div class="grid grid-cols-2 md:grid-cols-4 gap-8 ml-4" data-controller="checkbox-select-all">
                          <div class="flex items-center justify-center mx-4">
                            <input id="checkbox-select-all" type="checkbox" class="h-4 w-4 mr-2" data-checkbox-select-all-target="checkboxAll">
                            <label for="checkbox-select-all">All users</label>
                          </div>
                          <%= form.collection_check_boxes :roles, User.roles, :second, :first do |b| %>
                            <div class="flex items-center justify-center mx-4">
                              <%= b.check_box class:'h-4 w-4 mr-2', data: { checkbox_select_all_target: 'checkbox' } %>
                              <%= b.label %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="flex flex-row mt-12">
                        <div class="text-lg w-1/4">&#8226 With profile information:</div>
                        <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-7 gap-8 ml-4" data-controller="checkbox-select-all">
                          <div class="flex items-center justify-center">
                            <input id="checkbox-select-all" type="checkbox" class="h-4 w-4 mr-2" data-checkbox-select-all-target="checkboxAll">
                            <label for="checkbox-select-all">Full profile</label>
                          </div>
                          <div class="flex items-center justify-center">
                            <%= form.check_box :name, class:'h-4 w-4 mr-2', data: { checkbox_select_all_target: 'checkbox' } %>
                            <label for="info">name</label>
                          </div>
                          <div class="flex items-center justify-center">
                            <%= form.check_box :username, class:'h-4 w-4 mr-2', data: { checkbox_select_all_target: 'checkbox' } %>
                            <label for="info">username</label>
                          </div>
                          <div class="flex items-center justify-center">
                            <%= form.check_box :email, class:'h-4 w-4 mr-2', data: { checkbox_select_all_target: 'checkbox' } %>
                            <label for="info">email</label>
                          </div>
                          <div class="flex items-center justify-center">
                            <%= form.check_box :role, class:'h-4 w-4 mr-2', data: { checkbox_select_all_target: 'checkbox' } %>
                            <label for="info">role</label>
                          </div>
                          <div class="flex items-center justify-center">
                            <%= form.check_box :address, class:'h-4 w-4 mr-2', data: { checkbox_select_all_target: 'checkbox' } %>
                            <label for="info">address</label>
                          </div>
                          <div class="flex items-center justify-center">
                            <%= form.check_box :phone, class:'h-4 w-4 mr-2', data: { checkbox_select_all_target: 'checkbox' } %>
                            <label for="info">phone no.</label>
                          </div>
                        </div>
                      </div>

                      <div class="flex flex-row mt-12">
                        <div class="text-lg w-1/4">&#8226 Export deleted:</div>
                        <div class="relative inline-block w-10 mx-2 align-middle justify-center select-none transition duration-200 ease-in">
                          <%= form.check_box :deleted, class: 'toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-2 appearance-none cursor-pointer' %>
                          <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 dark:bg-gray-600 cursor-pointer"></label>
                        </div>
                      </div>
                    
                    </div>
                    
                    <p class="text-lg mt-16"><strong>Step2:</strong> Export Users </p>

                    <div class="mt-16"><%= submit_tag "Export to CSV", class:"btn btn-blue" %></div>
                  <% end %>
                </div>
              </div>
            </div>

          <% end %>
        </div>
        
    </div>
  </main>

</div>