<div class="flex min-h-screen">
  <!-- Sidenav --> 
  <%= render 'shared/sidenav' %>

  <main class="flex-shrink w-full bg-gray-100 dark:bg-gray-900 relative">
    <!-- Header -->
    <%= render 'shared/navbar' %>

    <div class="px-4 md:px-6">

      <!-- Page Head -->
      <div class="mt-4 flex flex-col md:flex-row dark:text-white">
        <div class="flex-col flex-grow">
          <div class="flex flex-row space-x-2">
            <%= link_to :back do %><i class="fas fa-chevron-left text-4xl"></i><% end %>
            <h1 class="text-4xl font-semibold text-gray-800 dark:text-white">Admin Dashboard</h1>
          </div>
          <h2 class="ml-8 text-gray-400"><%= @school.name %></h2>
        </div>
        <div class="mx-4">
        </div>
      </div>

      <!-- Page Conent -->
      <div class="mt-8 mb-16 dark:text-white">
        <%= turbo_frame_tag "admin_content" do %>
          <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-16 my-4">
            
            <%= turbo_frame_tag "trash_users", src: admin_trash_users_path do %>
              <%= render 'admin/trash_placeholder' %>
            <% end %>

            <%= turbo_frame_tag "trash_courses", src: admin_trash_courses_path do %>
              <%= render 'admin/trash_placeholder' %>
            <% end %>

            <%= turbo_frame_tag "trash_lectures", src: admin_trash_lectures_path do %>
              <%= render 'admin/trash_placeholder' %>
            <% end %>

            <%= turbo_frame_tag "trash_assignments", src: admin_trash_assignments_path do %>
              <%= render 'admin/trash_placeholder' %>
            <% end %>

            <%= turbo_frame_tag "trash_solutions", src: admin_trash_solutions_path do %>
              <%= render 'admin/trash_placeholder' %>
            <% end %>

            <%= turbo_frame_tag "trash_forums", src: admin_trash_forums_path do %>
              <%= render 'admin/trash_placeholder' %>
            <% end %>

            <%= turbo_frame_tag "trash_topics", src: admin_trash_topics_path do %>
              <%= render 'admin/trash_placeholder' %>
            <% end %>

            <%= turbo_frame_tag "trash_posts", src: admin_trash_posts_path do %>
              <%= render 'admin/trash_placeholder' %>
            <% end %>

          </div>
        <% end %>
        
      </div>

    </div>
  </main>

</div>
