<%= form_with(model: group) do |form| %>

  <div class="">

    <% if group.errors.any? %>
      <div id="error_explanation" class="my-8">
        <h2 class="text-xl mb-2"><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul class="space-y-2">
          <% group.errors.each do |error| %>
            <li class="w-full flex items-center px-4 py-2  text-base rounded-full text-red-600 bg-red-200">
              <%= error.full_message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :name, class:"form-field-sm w-full", placeholder:"Name" %>

    <%= form.rich_text_area :description, class:"form-field w-full bg-white", placeholder:"Description*" %>
    
    <div class="flex flex-row space-x-16">
      <div class="flex flex-row items-center w-1/2">
        <%= label_tag :group_type, "Type", class:"mb-6 mr-4 dark:text-white" %>
        <%= select_tag(:group_type, options_for_select(
          [['Interest', 'Interest'], 
          ['Study', 'Study'],
          ['Club', 'Club'],
          ['Hobby', 'Hobby'],
          ['Faculty', 'Faculty'],
          ['Learners', 'Learners'],
          ['Topic', 'Topic'],
          ['Translators', 'Translators']],
          'Study'), 
          {:class => 'form-field-sm w-11/12'}) %>
      </div>

      <% if group.access_code == 0 || group.access_code.nil? %>
        <div class="flex flex-row items-center mb-6 w-1/2">
          <%= label_tag :access_code, "Access Code?", class:"mr-4 dark:text-white" %>
          <%= form.check_box :access_code, class:"h-4 w-4" %>
        </div>
      <% end %>
    </div>

    <div class="mb-6">
      <%= form.file_field :image %>
    </div>

  </div>

  <div class="mt-16">
    <%= form.submit 'Save', class:"btn-submit" %>
  </div>

<% end %> 