<div class="flex min-h-screen">
  <!-- Sidenav --> 
  <%= render 'shared/sidenav' %>

  <main class="flex-shrink w-full bg-gray-100 dark:bg-gray-900 relative">
    <!-- Header -->
    <%= render 'shared/navbar' %>

    <div class="px-4 md:px-6">
    
      <!-- Page Head -->
      <div class="mt-4 flex flex-row dark:text-white">
        <div class="flex-col flex-grow">
          <div class="flex flex-row space-x-2">
            <%= link_to groups_path do %><i class="fas fa-chevron-left text-4xl"></i><% end %>
            <h1 class="text-4xl font-semibold text-gray-800 dark:text-white"><%= @group.name.capitalize %></h1> 
            <%= link_to '(edit)', edit_group_path(@group), class:"my-auto underline" unless current_user.student? %> 
          </div>
          <h2 class="ml-8 text-gray-400"><%= @school.name %></h2>
        </div>
        <div class="mr-6 my-auto">
          <%= link_to "Members", group_members_path(@group.id), class:"btn-sm btn-blue" %>
        </div>
      </div>

      <!-- Main Content -->
      <div class="mr-0 md:mr-4 my-8 flex flex-grow">
        <div class="flex flex-col w-full" data-controller="reply" data-reply-privilage-value=<%= @role %> data-reply-uid-value=<%= current_user.id %>>

          <%= turbo_frame_tag "widgets", src: group_widgets_path(@group) do %>
            <div class="flex my-4 items-center w-full space-y-4 md:space-x-4 md:space-y-0 flex-col md:flex-row">
              <div class="w-full md:w-6/12">
                <div class="shadow-lg w-full bg-white dark:bg-gray-800">
                  <div class="flex flex-col p-4 space-y-4">
                    <div class="w-full h-8 rounded-xl bg-gray-300 animate-pulse"></div>
                    <div class="w-full h-5 rounded-lg bg-gray-300 animate-pulse"></div>
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-center md:justify-start w-full md:w-1/2 space-x-4">
                <div class="w-1/2">
                  <div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-800">
                    <div class="w-full h-5 rounded-lg bg-gray-300 animate-pulse"></div>
                  </div>
                </div>
                <div class="w-1/2">
                  <div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-800">
                    <div class="w-full h-5 rounded-lg bg-gray-300 animate-pulse"></div>
                  </div>
                </div>
              </div>
            </div>           
          <% end %>

          <!-- Posts -->
          <%= turbo_stream_from "group_#{@group.id}_posts" %>

          <%= turbo_frame_tag "group_#{@group.id}_posts" do %>
            <% @group_posts.each do |group_post| %>
              <%= render 'group_posts/group_post', group_post: group_post if group_post.post? %>
              <%= render 'group_posts/group_announcement', group_announcement: group_post if group_post.announcement? %>
            <% end %>
          <% end %>            

        </div>
      </div>

    </div>

    <!-- Froms -->
    <div class="w-full lg:w-10/12 flex flex-row-reverse space-x-4 fixed bottom-4 right-6 z-50" data-controller="tabs">
      <div class="mt-auto flex flex-col space-y-1 lg:flex-row lg:space-x-1">
        <div class="" data-tabs-target="tab" data-action="click->tabs#change"> </div>
        <button class="px-4 py-3 btn-blue rounded-full" data-tabs-target="tab" data-action="click->tabs#change"><i class="fas fa-plus"></i></button>
        <button class="px-4 py-3 btn-indigo rounded-full" data-tabs-target="tab" data-action="click->tabs#change"><i class="fas fa-bullhorn"></i></button>
      </div>

      <div data-tabs-target="panel"></div>

      <div data-tabs-target="panel" class="hidden w-full flex justify-center min-h-48">
        <div class="w-11/12 bg-white dark:bg-gray-800 shadow-xl">
          <div class="w-full h-2 bg-blue-500 mb-2"></div>
          <div class="flex flex-row-reverse">
            <button data-action="click->tabs#change" data-index="0" class="mr-2 dark:text-white">
              <i class="fas fa-chevron-down font-normal mx-4"></i>
            </button>
          </div>
          
          <div class="ml-4 mr-12 mb-4 -mt-4">
            <%= turbo_frame_tag "group_post_form" do %>
              <%= render 'group_posts/post_form', group_id: @group.id, group_post: GroupPost.new %>
            <% end %>
            
          </div>
        </div>
      </div>

      <div data-tabs-target="panel" class="hidden w-full flex justify-center min-h-48">
        <div class="w-11/12 bg-white dark:bg-gray-800 shadow-xl">
          <div class="w-full h-2 bg-indigo-300 mb-2"></div>
          <div class="flex flex-row-reverse">
            <button data-action="click->tabs#change" data-index="0" class="mr-2 dark:text-white">
              <i class="fas fa-chevron-down font-normal mx-4"></i>
            </button>
          </div>
          
          <div class="ml-4 mr-12 mb-4 -mt-4">
            <%= turbo_frame_tag "group_announcement_form" do %>
              <%= render 'group_posts/announcement_form', group_id: @group.id , group_announcement: GroupPost.new  %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </main>
</div>