<!-- Admin options -->

<nav class="w-full transform duration-300 ease-in-out translate-x-0 absolute top-0" id="main">
  <div>
    <%= link_to schools_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="fas fa-tachometer-alt text-left"></i>
      <div class="mx-4 text-lg">Dashboard</div>
    <% end %>

    <a  class="text-lg w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="main"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="-translate-x-full"
        data-animation-next-param="user"
        data-animation-nextfrom-param="translate-x-full"
        data-animation-nextto-param="translate-x-0"
    >
      <i class="fas fa-users text-left"></i>
      <div class="mx-4 text-lg">Users</div>
      <i class="fas fa-chevron-right absolute mr-4 right-0"></i>
    </a>

    <a  class="text-lg w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="main"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="-translate-x-full"
        data-animation-next-param="course"
        data-animation-nextfrom-param="translate-x-full"
        data-animation-nextto-param="translate-x-0"
    >
      <i class="fas fa-atlas text-left"></i>
      <div class="mx-4 text-lg">Courses</div>
      <i class="fas fa-chevron-right absolute mr-4 right-0"></i>
    </a> 
          
    <a  class="text-lg w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="main"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="-translate-x-full"
        data-animation-next-param="admin"
        data-animation-nextfrom-param="translate-x-full"
        data-animation-nextto-param="translate-x-0"
    >
      <i class="fas fa-user-shield text-left"></i>
      <div class="mx-4 text-lg">Admin</div>
      <i class="fas fa-chevron-right absolute mr-4 right-0"></i>
    </a>
    
  </div>
</nav>

<nav class="w-full transform duration-300 ease-in-out translate-x-full absolute top-0 z-0" id="user">
  <a  class="text-lg w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="user"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="translate-x-full"
        data-animation-next-param="main"
        data-animation-nextfrom-param="-translate-x-full"
        data-animation-nextto-param="translate-x-0"
  >
    <i class="fas fa-chevron-left text-left"></i>
    <div class="mx-4 text-lg">Main Menu</div>
  </a>

  <%= link_to new_user_registration_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
    <i class="fas fa-user-plus text-left"></i>
    <div class="mx-4 text-lg">Add Users</div>
  <% end %>

  <%= link_to schools_overview_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
    <i class="fas fa-users text-left"></i>
    <div class="mx-4 text-lg">All</div>
  <% end %>

  <%= link_to schools_overview_path(role: 'admin'), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
    <i class="fas fa-user-shield text-left"></i>
    <div class="mx-4 text-lg">Admins</div>
  <% end %>

  <%= link_to schools_overview_path(role: 'teacher'), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
    <i class="fas fa-chalkboard-teacher text-left"></i>
    <div class="mx-4 text-lg">Teachers</div>
  <% end %>

  <%= link_to schools_overview_path(role: 'student'), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
    <i class="fas fa-user-graduate text-left"></i>
    <div class="mx-4 text-lg">Students</div>
  <% end %>
</nav>

<nav class="w-full transform duration-300 ease-in-out translate-x-full absolute top-0 z-0" id="course">
  <a  class="text-lg w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="course"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="translate-x-full"
        data-animation-next-param="main"
        data-animation-nextfrom-param="-translate-x-full"
        data-animation-nextto-param="translate-x-0"
  >
    <i class="fas fa-chevron-left text-left"></i>
    <div class="mx-4 text-lg">Main Menu</div>
  </a>

  <%= link_to courses_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
    <i class="far fa-chart-bar text-left"></i>
    <div class="mx-4 text-lg">Table</div>
  <% end %>

   <% @courses.each do |course| %>
      <a  class="text-lg w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="course"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="-translate-x-full"
        data-animation-next-param=<%= course.name %>
        data-animation-nextfrom-param="translate-x-full"
        data-animation-nextto-param="translate-x-0"
      >
        <div class="mx-8 text-lg"><%= course.name %></div>
        <i class="fas fa-chevron-right absolute mr-4 right-0"></i>
      </a>

    <% end %>
  
</nav>

<% @courses.each do |course| %>
  <nav class="w-full transform duration-300 ease-in-out translate-x-full absolute top-0 z-0" id=<%= course.name %>>
    <a  class="text-lg w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
          data-action="animation#apply"
          data-animation-old-param=<%= course.name %>
          data-animation-oldfrom-param="translate-x-0"
          data-animation-oldto-param="translate-x-full"
          data-animation-next-param="course"
          data-animation-nextfrom-param="-translate-x-full"
          data-animation-nextto-param="translate-x-0"
    >
      <i class="fas fa-chevron-left text-left"></i>
      <div class="mx-4 text-lg">Main Menu</div>
    </a>

    <%= link_to course, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <div class="mx-8 text-lg">View Course</div>
    <% end %>

    <%= link_to lectures_path(course_id: course.id), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="fas fa-book text-left"></i>
      <div class="mx-4 text-lg">Lectures</div>
    <% end %>

    <%= link_to assignments_path(course_id: course.id), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="far fa-clipboard text-left"></i>
      <div class="mx-4 text-lg">Assignments</div>
    <% end %>

  </nav>
  
<% end %>
  

<nav class="w-full transform duration-300 ease-in-out translate-x-full absolute top-0 z-0" id="admin">
  <a  class="text-lg w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="admin"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="translate-x-full"
        data-animation-next-param="main"
        data-animation-nextfrom-param="-translate-x-full"
        data-animation-nextto-param="translate-x-0"
  >
    <i class="fas fa-chevron-left text-left"></i>
    <div class="mx-4 text-lg">Main Menu</div>
  </a>

  <%= link_to admin_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
    <i class="fas fa-user-shield text-left"></i>
    <div class="mx-4 text-lg">Admin Dashboard</div>
  <% end %>

  <a class="w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100" 
          href=<%= admin_stats_url %>
          data-turbo-frame="admin_content" 
          data-controller="turbo-frame-history"
          data-action="click->turbo-frame-history#mutate"
          data-turbo-frame-history-url-param=<%= admin_stats_url %>>
    <i class="fas fa-chart-line text-left"></i>
    <div class="mx-4 text-lg">Statistics</div>
  </a>


  <a  class="text-lg w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="admin"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="-translate-x-full"
        data-animation-next-param="admin_setting"
        data-animation-nextfrom-param="translate-x-full"
        data-animation-nextto-param="translate-x-0"
  >
    <i class="fas fa-cogs text-left"></i>
    <div class="mx-4 text-lg">Settings</div>
    <i class="fas fa-chevron-right absolute mr-4 right-0"></i>
  </a>


  <a class="w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100" 
          href=<%= admin_trash_url %>
          data-turbo-frame="admin_content" 
          data-controller="turbo-frame-history"
          data-action="click->turbo-frame-history#mutate"
          data-turbo-frame-history-url-param=<%= admin_trash_url %>>
    <i class="fas fa-trash text-left"></i>
    <div class="mx-4 text-lg">Dump</div>
  </a>
  
</nav>

<nav class="w-full transform duration-300 ease-in-out translate-x-full absolute top-0 z-0" id="admin_setting">
  <a  class="text-lg w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="admin_setting"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="translate-x-full"
        data-animation-next-param="admin"
        data-animation-nextfrom-param="-translate-x-full"
        data-animation-nextto-param="translate-x-0"
  >
    <i class="fas fa-chevron-left text-left"></i>
    <div class="mx-4 text-lg">Admin Menu</div>
  </a>

  <a class="w-full flex items-center px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100" 
          href=<%= admin_forum_url %> 
          data-turbo-frame="admin_content" 
          data-controller="turbo-frame-history"
          data-action="click->turbo-frame-history#mutate"
          data-turbo-frame-history-url-param=<%= admin_forum_url %>>
    <i class="fas fa-bullhorn text-left"></i>
    <div class="mx-4 text-lg">Forum</div>
  </a>

  <div data-controller='toggle' class=" px-4 py-2 my-3 justify-start text-gray-500 dark:text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">
    <button data-action='click->toggle#toggle touch->toggle#toggle' class="flex flex-row w-full items-center">
      <i class="fas fa-users text-left"></i>
      <div class="mx-4 text-lg  flex-grow text-left">Accounts</div>
      <i class="fas fa-chevron-down float-right"></i>
    </button>
    <div data-toggle-target='toggleable' class=" flex flex-col ml-8 md:ml-14 my-2 hidden ">
      <a class="my-1" 
          href=<%= admin_accounts_import_url %>
          data-turbo-frame="admin_content" 
          data-controller="turbo-frame-history"
          data-action="click->turbo-frame-history#mutate"
          data-turbo-frame-history-url-param=<%= admin_accounts_import_url %>>
        Import
      </a>
      <a class="my-1" 
          href=<%= admin_accounts_export_url %>
          data-turbo-frame="admin_content" 
          data-controller="turbo-frame-history"
          data-action="click->turbo-frame-history#mutate"
          data-turbo-frame-history-url-param=<%= admin_accounts_export_url %>>
        Export
      </a>
    </div>
  </div>

</nav>