<div data-controller="modal">

  <nav class="w-full transform duration-300 ease-in-out translate-x-full absolute top-0 z-0" id="groups">
    <a  class="text-base w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
          data-action="animation#apply"
          data-animation-old-param="groups"
          data-animation-oldfrom-param="translate-x-0"
          data-animation-oldto-param="translate-x-full"
          data-animation-next-param="main"
          data-animation-nextfrom-param="-translate-x-full"
          data-animation-nextto-param="translate-x-0"
    >
      <i class="fas fa-chevron-left text-left"></i>
      <div class="mx-4">Main Menu</div>
    </a>

    <% unless current_user.student? %>
      <%= link_to new_group_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100" do %>
        <i class="fas fa-plus text-left"></i>
        <div class="mx-4 text-base">Create</div>
      <% end %>
    <% end %>

    <a href="#" data-action="click->modal#open" class="w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100">
      <i class="fas fa-arrow-right text-left"></i>
      <div class="mx-4 text-base">Join</div>
    </a>

    <%= link_to groups_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100" do %>
      <i class="fas fa-columns text-left"></i>
      <div class="mx-4 text-base">Groups</div>
    <% end %>

  </nav>


  <div data-modal-target="container"  data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
    <!-- Create Group Modal Inner Container -->
    <div class="max-h-screen w-full max-w-3xl relative">
      <!-- Create Group Modal Card -->
      <div class="m-2 bg-white dark:bg-gray-800 rounded shadow">
        <%= form_with(url: group_join_path, data:{turbo_method: 'post'}) do |form| %>

          <h2 class="text-2xl dark:text-white px-4 py-4">Join Group</h2>

          <div class="p-4">
            <%= form.text_field :access_code, class:"form-field w-full", placeholder:"Accesss Code" %>

            <p class="dark:text-white text-justify">
              You can only join a group via access code if it is private. All public groups can be found in the  
              <%= link_to "group catalog", groups_path, class:"text-indigo-500" %>.
            </p>
          </div>

          <div class="flex justify-end items-center flex-wrap space-x-2 p-4 rounded-b">
            <button class="btn-sm btn-gray" data-action="click->modal#close">Cancle</button>
            <div class="w-28" ><%= form.submit 'Join', class:"btn-sm btn-submit", data:{action:"click->click->modal#close"} %></div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>