<!-- Teacher options -->

<nav class="w-full transform duration-300 ease-in-out translate-x-0 absolute top-0" id="main">
  <div>
    <%= link_to schools_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="fas fa-tachometer-alt text-left"></i>
      <div class="mx-4 text-base">Dashboard</div>
    <% end %>

    <%= link_to notifications_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="fas fa-bell text-left"></i>
      <div class="mx-4 text-base">Notifications</div>
    <% end %>

    <%= link_to calendar_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="fas fa-calendar text-left"></i>
      <div class="mx-4 text-base">Calendar</div>
    <% end %>

    <a  class="text-base w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="main"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="-translate-x-full"
        data-animation-next-param="groups"
        data-animation-nextfrom-param="translate-x-full"
        data-animation-nextto-param="translate-x-0"
    >
      <i class="fas fa-users text-left"></i>
      <div class="mx-4">Groups</div>
      <i class="fas fa-chevron-right absolute mr-4 right-0"></i>
    </a>

    <a  class="text-base w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="main"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="-translate-x-full"
        data-animation-next-param="course"
        data-animation-nextfrom-param="translate-x-full"
        data-animation-nextto-param="translate-x-0"
    >
      <i class="fas fa-atlas text-left"></i>
      <div class="mx-4">Courses</div>
      <i class="fas fa-chevron-right absolute mr-4 right-0"></i>
    </a>

    <a  class="text-base w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="main"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="-translate-x-full"
        data-animation-next-param="study"
        data-animation-nextfrom-param="translate-x-full"
        data-animation-nextto-param="translate-x-0"
    >
      <i class="fas fa-atlas text-left"></i>
      <div class="mx-4">Studies</div>
      <i class="fas fa-chevron-right absolute mr-4 right-0"></i>
    </a> 

  </div>
</nav>

<nav class="w-full transform duration-300 ease-in-out translate-x-full absolute top-0 z-0" id="course">
  <a  class="text-base w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="course"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="translate-x-full"
        data-animation-next-param="main"
        data-animation-nextfrom-param="-translate-x-full"
        data-animation-nextto-param="translate-x-0"
  >
    <i class="fas fa-chevron-left text-left"></i>
    <div class="mx-4">Main Menu</div>
  </a>

  <%= link_to courses_path, class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
    <i class="far fa-chart-bar text-left"></i>
    <div class="mx-4 text-base">Table</div>
  <% end %>

  <% @courses.each do |course| %>
    <a  class="text-base w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
      data-action="animation#apply"
      data-animation-old-param="course"
      data-animation-oldfrom-param="translate-x-0"
      data-animation-oldto-param="-translate-x-full"
      data-animation-next-param=<%= course.name %>
      data-animation-nextfrom-param="translate-x-full"
      data-animation-nextto-param="translate-x-0"
    >
      <div class="mx-8 "><%= course.name %></div>
      <i class="fas fa-chevron-right absolute mr-4 right-0"></i>
    </a>
  <% end %>
  
</nav>

<% @courses.each do |course| %>
  <nav class="w-full transform duration-300 ease-in-out translate-x-full absolute top-0 z-0" id=<%= course.name %>>
    <a  class="text-base w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
          data-action="animation#apply"
          data-animation-old-param=<%= course.name %>
          data-animation-oldfrom-param="translate-x-0"
          data-animation-oldto-param="translate-x-full"
          data-animation-next-param="course"
          data-animation-nextfrom-param="-translate-x-full"
          data-animation-nextto-param="translate-x-0"
    >
      <i class="fas fa-chevron-left text-left"></i>
      <div class="mx-4 text-base">Main Menu</div>
    </a>

    <%= link_to coursePath(course, current_user), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <div class="mx-8 text-base">View Course</div>
    <% end %>

    <%= link_to lectures_path(course_id: course.id), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="fas fa-book text-left"></i>
      <div class="mx-4 text-base">Lectures</div>
    <% end %>

    <%= link_to assignments_path(course_id: course.id), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="far fa-clipboard text-left"></i>
      <div class="mx-4 text-base">Assignments</div>
    <% end %>

    <%= link_to course_statistics_path(course_id: course.id), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="fas fa-chart-pie text-left"></i>
      <div class="mx-4 text-base">Statistics</div>
    <% end %>

  </nav>
  
<% end %>

<nav class="w-full transform duration-300 ease-in-out translate-x-full absolute top-0 z-0" id="study">
  <a  class="text-base w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
        data-action="animation#apply"
        data-animation-old-param="study"
        data-animation-oldfrom-param="translate-x-0"
        data-animation-oldto-param="translate-x-full"
        data-animation-next-param="main"
        data-animation-nextfrom-param="-translate-x-full"
        data-animation-nextto-param="translate-x-0"
  >
    <i class="fas fa-chevron-left text-left"></i>
    <div class="mx-4">Main Menu</div>
  </a>

  <% @studies.each do |course| %>
    <a  class="text-base w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
      data-action="animation#apply"
      data-animation-old-param="study"
      data-animation-oldfrom-param="translate-x-0"
      data-animation-oldto-param="-translate-x-full"
      data-animation-next-param=<%= course.name %>
      data-animation-nextfrom-param="translate-x-full"
      data-animation-nextto-param="translate-x-0"
    >
      <div class="mx-8 "><%= course.name %></div>
      <i class="fas fa-chevron-right absolute mr-4 right-0"></i>
    </a>
  <% end %>
</nav>

<% @studies.each do |course| %>
  <nav class="w-full transform duration-300 ease-in-out translate-x-full absolute top-0 z-0" id=<%= course.name %>>
    <a  class="text-base w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
          data-action="animation#apply"
          data-animation-old-param=<%= course.name %>
          data-animation-oldfrom-param="translate-x-0"
          data-animation-oldto-param="translate-x-full"
          data-animation-next-param="studiy"
          data-animation-nextfrom-param="-translate-x-full"
          data-animation-nextto-param="translate-x-0"
    >
      <i class="fas fa-chevron-left text-left"></i>
      <div class="mx-4 text-base">Main Menu</div>
    </a>

    <%= link_to student_course_path(course), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <div class="mx-8 text-base">View Course</div>
    <% end %>

    <%= link_to student_course_grades_path(course), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="fas fa-chart-bar text-left"></i>
      <div class="mx-4 text-base">Grades</div>
    <% end %>

    <%= link_to student_course_deadlines_path(course), class:"w-full flex items-center px-4 py-2 my-3 justify-start text-white hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100", :action => 'go' do %>
      <i class="far fa-calendar-check text-left"></i>
      <div class="mx-4 text-base">Deadlines</div>
    <% end %>

  </nav>
  
<% end %>
  
<%= render 'shared/shared_panel' %>