<div class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="background-image: url('https://cdn.filestackcontent.com/URZQI1wQbemVGsIGqaWj');">
  <main class="bg-white max-w-xl mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section class="text-center">
      <%= link_to root_path do %>
        <%= image_tag "https://cdn.filestackcontent.com/V5yincH8RHqUrGyiehYP", size:"200x50", class:"mx-auto" %>
      <% end %>
      <h1 class="font-bold text-3xl pt-4">Login</h1>
    </section>

    <section class="mt-10">
      <div class="flex flex-col">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div data-controller="select">
            <%= f.select :school, School.pluck(:name, :id), { include_blank: false }, data: { target: "select.input" }, class:"form-field w-full" %>
          </div>

          <%= f.email_field :email, autocomplete: "default", class:"form-field w-full", placeholder:"Username or Email" %>

          <%= f.password_field :password, autocomplete: "default", class:"form-field w-full", placeholder:"Password" %>

          <% if devise_mapping.rememberable? %>
            <div class="field p-3">
              <%= f.check_box :remember_me, class:"bg-white bg-check h-4 w-4 border border-gray-300 rounded-md checked:bg-blue-600 checked:border-transparent focus:outline-none" %>
              <%= f.label :remember_me, class:"text-gray-700 font-normal" %>
            </div>
          <% end %>

          <%= f.submit "Log in", class:"btn-submit mt-4" %>

          <div class="my-8">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </section>
  </main>
</div>