<%= form_with(model: resource) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name, autocomplete: "name", class:"form-field w-full", placeholder:"Asset Name" %>

  <div class="dark:text-white">
    <%= form.filestack_field :path, 'Upload asset', class:"btn-sm btn-blue" %>
    <%= form.label :path %>
  </div>

  <%= form.text_field :material_type, id: :resource_material_type, value: @material_type, type: :hidden %>

  <%= form.number_field :material_id, id: :resource_material_id, value: @material_id, type: :hidden %>

    <%= form.submit 'Submit', class:"btn-submit mt-16" %>
<% end %>
