<%= form_tag users_mass_delete_path, method: 'delete', data: { turbo_confirm: 'Are you sure?' } do %>
<div class="w-full overflow-hidden rounded-lg shadow-xs my-8">
  <div class="flex flex-row justify-between">
    <h2 class="text-3xl my-2 ml-4 dark:text-white">Users<h2>
    <% if current_user.admin? %>
      <div class="mx-8">
        <%= link_to "Add User", new_user_registration_path, class:"btn-sm btn-lime mx-4" %>
        <%= submit_tag "Delete selected", :class => 'btn-sm btn-gray' %>
      </div>
    <% end %>
  </div>
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap" data-controller="checkbox-select-all">
      <thead>
        <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-800 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
          <th class="px-4 py-3">Name</th>
          <th class="px-4 py-3">Username</th>
          <th class="px-3 py-2" data-controller="filters">
            <%= select_tag :role,
                  options_for_select(
                    User.roles.map {|key, value| [key.titleize, User.roles.key(value)]}, params[:role]
                  ),
                  include_blank: "All Roles",
                  class: "p-1 focus:border-blue-700 rounded border-2 outline-none dark:bg-gray-700 dark:border-black",
                  data: { action: "filters#filter", filters_target: "filter" } %>
          </th>
          <th class="px-4 py-3">email</th>
          <th class="px-4 py-3"></th>
          <th class="px-4 py-3" data-sort-ignore="true"><input id="checkbox-select-all" type="checkbox" data-checkbox-select-all-target="checkboxAll"></th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-800 dark:bg-gray-700">
        <% @users.each do |user| %>
          <tr class="text-gray-800 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-black">
            <td class="px-4 py-3">
              <%= link_to user.first_name + ' ' + user.last_name, profile_path(user.id), class:"font-semibold" %>
            </td>
            <td class="px-4 py-3"><%= user.username %></td>
            <td class="px-4 py-3"><%= user.role %></td>
            <td class="px-4 py-3"><%= user.email %></td>
            <% if current_user.username != user.username %>
              <% if current_user.admin? %>
                <td class="px-4 py-3"><%= link_to 'Delete', users_clear_url(id: user.id), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }, class:"btn-sm btn-red" %></td>
              <% end %>
              <td class="px-4 py-3"><%= check_box_tag 'user_ids[]', user.id, false, data: { checkbox_select_all_target: 'checkbox' } %></td>
            <% else %>
              <td class="px-4 py-3"></td>
              <td class="px-4 py-3"></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="my-8">
    <%= paginate @users %>
  </div>

</div>
<% end %>