<div class="flex min-h-screen">
  <!-- Sidenav --> 
  <%= render 'shared/sidenav' %>

  <main class="flex-shrink w-full bg-gray-100 dark:bg-gray-900 relative">
    <!-- Header -->
    <%= render 'shared/navbar' %>

    <div class="px-4 md:px-6">
    
      <!-- Page Head -->
      <div class="relative bg-indigo-200 p-4 sm:p-6 rounded-sm overflow-hidden my-4">
        <div class="absolute right-0 top-0 -mt-4 mr-16 pointer-events-none hidden xl:block" aria-hidden="true">
          <svg width="319" height="198" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <path id="welcome-a" d="M64 0l64 128-64-20-64 20z"></path>
              <path id="welcome-e" d="M40 0l40 80-40-12.5L0 80z"></path>
              <path id="welcome-g" d="M40 0l40 80-40-12.5L0 80z"></path>
              <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="welcome-b">
                <stop stop-color="#A5B4FC" offset="0%"></stop>
                <stop stop-color="#818CF8" offset="100%"></stop>
              </linearGradient>
              <linearGradient x1="50%" y1="24.537%" x2="50%" y2="100%" id="welcome-c">
                <stop stop-color="#4338CA" offset="0%"></stop>
                <stop stop-color="#6366F1" stop-opacity="0" offset="100%"></stop>
              </linearGradient>
            </defs>
            <g fill="none" fill-rule="evenodd"><g transform="rotate(64 36.592 105.604)">
              <mask id="welcome-d" fill="#fff"><use xlink:href="#welcome-a"></use></mask>
              <use fill="url(#welcome-b)" xlink:href="#welcome-a"></use>
              <path fill="url(#welcome-c)" mask="url(#welcome-d)" d="M64-24h80v152H64z"></path>
            </g>
            <g transform="rotate(-51 91.324 -105.372)">
              <mask id="welcome-f" fill="#fff"><use xlink:href="#welcome-e"></use></mask>
              <use fill="url(#welcome-b)" xlink:href="#welcome-e"></use>
              <path fill="url(#welcome-c)" mask="url(#welcome-f)" d="M40.333-15.147h50v95h-50z"></path>
            </g>
            <g transform="rotate(44 61.546 392.623)">
              <mask id="welcome-h" fill="#fff"><use xlink:href="#welcome-g"></use></mask>
              <use fill="url(#welcome-b)" xlink:href="#welcome-g"></use>
              <path fill="url(#welcome-c)" mask="url(#welcome-h)" d="M40.333-15.147h50v95h-50z"></path>
            </g></g>
          </svg>
        </div>
        <div class="relative">
          <h1 class="text-2xl md:text-3xl text-gray-800 font-bold mb-1">Welcome <%= current_user.username %> to your Dashboard</h1>
          <h5 class="text-gray-700"><%= @school.name %></h5>
        </div>
      </div>

      <div class="flex my-10 items-center w-full space-y-4 md:space-x-4 md:space-y-0 flex-col md:flex-row">
        <div class="w-full md:w-6/12">
          <div class="shadow-lg w-full bg-white dark:bg-gray-700 relative overflow-hidden">
            <a href=<%= profile_path(current_user) %> class="w-full h-full block">
              <div class="flex items-center justify-between px-4 py-6 space-x-4">
                <div class="flex items-center p-4">
                  <p class="text-xl text-gray-700 dark:text-white ml-2 font-semibold border-b border-gray-200">
                    <span class="capitalize"><%= current_user.role %></span> account
                  </p>
                </div>
                <div class="border-b border-gray-200 mt-6 md:mt-0 text-black dark:text-white font-bold text-xl">
                  <%= done_tasks %> /
                  <span class="text-xs text-gray-400">
                    <%= all_tasks %> assignments
                  </span>
                </div>
              </div>
              <div class="w-full h-3 bg-gray-100">
                <%= progress_bar %>
              </div>
            </a>
          </div>
        </div>
        <div class="flex items-center justify-center md:justify-start w-full md:w-1/2 space-x-4">
          <div class="w-1/2">
            <div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-700 relative">
              <p class="text-2xl text-black dark:text-white font-bold">
                <%= @myCourses.count %>
              </p>
              <p class="text-gray-400 text-sm">
                Active courses
              </p>
            </div>
          </div>
          <div class="w-1/2">
            <div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-700 relative">
              <p class="text-2xl text-black dark:text-white font-bold">
                <%= active_topic_count @school %>
              </p>
              <p class="text-gray-400 text-sm">
                Enter school forum
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Page Content -->
      <%= render 'courses/present' %>

    </div>
  </main>

</div>