<div class="flex min-h-screen">
  <!-- Sidenav --> 
  <%= render 'shared/sidenav' %>

  <main class="flex-shrink w-full bg-gray-100 dark:bg-gray-900 relative">
    <!-- Header -->
    <%= render 'shared/navbar' %>

    <div class="px-4 md:px-6" data-controller="modal">

      <!-- Page Head -->
      <div class="mt-4 flex flex-col md:flex-row dark:text-white">
        <div class="flex-col flex-grow">
          <div class="flex flex-row space-x-2">
            <%= link_to schools_path do %><i class="fas fa-chevron-left text-4xl"></i><% end %>
            <h1 class="text-4xl font-semibold text-gray-800 dark:text-white"><%= @course.name %></h1> 
            <%= link_to '(edit)', edit_course_path(@course), class:"my-auto underline" unless current_user.student? %> 
          </div>
          <h2 class="ml-8 text-gray-400"><%= @school.name %></h2>
        </div>
        <div class="flex flex-row my-auto md:justify-between">
          <% unless current_user.student? %>
            <div><%= link_to 'Students', course_add_users_path(course_id: @course.id), class:'btn-sm btn-blue' %></div>
            <div class="mx-2 relative" data-controller="dropdown"
                data-dropdown-invisible-class="opacity-0 scale-95"
                data-dropdown-visible-class="opacity-100 scale-100"
                data-dropdown-entering-class="ease-out duration-300"
                data-dropdown-enter-timeout="300"
                data-dropdown-leaving-class="ease-in duration-300"
                data-dropdown-leave-timeout="300">
              <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="btn-sm btn-lime">
                Add To Course
              </div>
              <div data-dropdown-target="menu" class="absolute transform -ml-12 mt-2 hidden w-42 z-30 transition opacity-0 scale-95">
                <div class="bg-white dark:bg-black shadow-2xl rounded-lg overflow-hidden">
                  <%= addOptions @course %>
                  <a href="#" data-action="click->modal#open" class="no-underline block px-8 py-3 whitespace-nowrap font-medium text-gray-900 dark:text-gray-100">
                    <span>Add Asset</span>
                  </a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      
      <!-- Page Conent -->
      <div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-800 relative my-8 dark:text-white">
        <h2 class="text-2xl w-max text-gray-800 dark:text-white font-semibold border-b border-gray-200">Description</h2>
        <div class="my-4 text-justify"><%= @course.description %></div>

        <% if @course.files.attached? %>
          <h3 class="text-xl w-max text-gray-800 dark:text-white font-semibold border-b border-gray-200 mt-12">Assets</h3>
          <div class="mt-4 flex flex-col">
            <% @course.files.each do |file| %>
              <div class="mb-2">
                <%= link_to course_delete_files_attachment_path(course_id: @course.id, file_id: file.id), 
                data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash text-red-600 hover:text-red-800"> </i>
                <% end %>
                
                <%= link_to file.filename, rails_blob_path(file, disposition: 'preview'), class:'underline ml-4' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-800 relative my-8 dark:text-white">
        <h2 class="text-2xl w-max text-gray-800 dark:text-white font-semibold border-b border-gray-200">Lectures</h2>
        <div class="mt-8 flex flex-col">
          <% @lectures.each do |lecture| %>
            <%= link_to lecture.name, lecture, class:"font-semibold -my-2" %></br>
          <% end %>
        </div>
      </div>

      <div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-800 relative my-8 dark:text-white">
        <h2 class="text-2xl w-max text-gray-800 dark:text-white font-semibold border-b border-gray-200">Assignments</h2>
        <div class="mt-8 flex flex-col">
          <% @assignments.each do |assignment| %>
            <%= link_to assignment.name, assignment, class:"font-semibold -my-2" %></br>
          <% end %>
        </div>
      </div>

      <%= showForum @course, @school %>

      <div class="mt-16 ml-8 dark:text-white ">
        <h2 class="text-2xl font-bold">Comments</h2>
        <%= form_with(model: [@course, @course.comments.build]) do |f| %>
          <div class="my-2">
            <%= f.label 'New comment' %>
            <%= f.text_area :body, class: 'flex-1 my-2 appearance-none border border-gray-300 w-full py-3 px-4 bg-white text-gray-700 placeholder-gray-400 rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent' %>
            <%= f.text_field :target_type, id: :comment_target_type, value: @course.class.name, type: :hidden %>
            <%= f.number_field :target_id, id: :comment_target_id, value: @course.id, type: :hidden %>
            <%= f.number_field :user_id, id: :comment_user_id, value: current_user.id, type: :hidden %>
          </div>
          <%= f.submit 'Submit', class: 'btn btn-blue' %>
        <% end %>
        <div class="mt-4 mb-16">
          <%= render @course.comments, target: @course %>
        </div>
      </div>

      <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
        <!-- Modal Inner Container -->
        <div class="max-h-screen w-full max-w-xl relative">
          <!-- Modal Card -->
          <div class="m-2 bg-white dark:bg-gray-900 rounded shadow">
            <%= form_with(model: @course, local: true) do |form| %>
              <div class="p-4">
                <div class="flex flex-col space-y-2">
                  <%= form.label :files, class:'font-semibold' %>
                  <%= form.file_field :files, multiple: true %>
                </div>
              </div>

              <div class="flex justify-end items-center flex-wrap space-x-2 p-4 rounded-b">
                <button class="btn-sm btn-gray" data-action="click->modal#close">Cancle</button>
                <div class="w-28"><%= form.submit 'Add', class:'btn-sm btn-submit' %></div>
              </div>
            <% end %>           
          </div>
        </div>
      </div>

    </div>
  </main>

</div>