<main class="bg-gray-100 dark:bg-gray-900 h-screen overflow-hidden relative">
  <div class="flex items-start justify-between">
    <!-- Sidenav --> 
    <%= render 'shared/sidenav' %>

    <div class="flex flex-col w-full md:space-y-4">
      <!-- Header -->
      <%= render 'shared/navbar' %>

      <div class="overflow-auto h-screen pb-24 px-4 md:px-6">
        <!-- Page Head -->
        <div class="mt-4 flex flex-col md:flex-row dark:text-white">
          <%= link_to :back do %><i class="fas fa-chevron-left text-4xl mb-4 md:mx-4"></i><% end %>
          <div class="flex-col flex-grow">
            <h1 class="text-4xl font-semibold text-gray-800 dark:text-white">Statistics</h1>
            <h2 class="text-md text-gray-400"><%= @school.name %></h2>
          </div>
          <div class="mx-4">
          </div>
        </div>

        <!-- Page Conent -->       
        <div class="my-4">
          <% @assignments.each do |assignment| %>
            <div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-800 relative my-16 dark:text-white">
              <h2 class="text-2xl w-max text-gray-800 dark:text-gray-200 font-semibold border-b border-gray-300"><%= assignment.name %></h2>

              <div class="flex flex-row justify-between">
                <div class="w-1/2">
                  <div class="text-lg font-medium mt-4 flex justify-center">Participation</div>
                  <%= pie_chart [["Left", @total - assignment.solutions.count], ["Submitted", assignment.solutions.count]], colors: ["#b00", "#666"], donut: true, loading: "Loading..." %>
                </div>

                <div class="w-1/2">
                  <div class="text-lg font-medium mt-4 flex justify-center">Grades</div>
                  <%= column_chart  [["1", assignment.solutions.where('grade <= 1' ).count],
                                    ["1-2", assignment.solutions.where('grade > 1 and grade <= 2').count],
                                    ["2-3", assignment.solutions.where('grade > 2 and grade <= 3').count],
                                    ["3-4", assignment.solutions.where('grade > 3 and grade <= 4').count],
                                    ["4-5", assignment.solutions.where('grade > 4 and grade <= 5').count],
                                    ["5-6", assignment.solutions.where('grade > 5 and grade <= 6').count],
                                    ["6-7", assignment.solutions.where('grade > 6 and grade <= 7').count],
                                    ["7-8", assignment.solutions.where('grade > 7 and grade <= 8').count],
                                    ["8-9", assignment.solutions.where('grade > 8 and grade <= 9').count],
                                    ["10", assignment.solutions.where('grade > 9').count]],
                                    loading: "Loading..." %>
                </div>
              </div>

            </div> 
          <% end %>
        </div>
             
        <% unless @assignments.blank? %>
          <div class="mt-4 mb-16">
            <%= paginate @assignments %>
          </div>
        <% else %>
          <div class="flex items-center justify-center mt-4 mb-16 h-2/3">
            <h2 class="text-5xl font-normal text-gray-800 dark:text-white">- No Assignments Yet -</h2>
          </div>
        <% end %>   
        
      </div>
    </div>
  </div>
</main>