<%= form_with model: solution do |form| %>
  <div class="flex flex-row gap-32">
    <div class="">
      <%= form.filestack_field :file, 'Upload solution', class:"btn btn-black" %>
      <%= form.label :path %>
    </div>

    <%= form.number_field :user_id, id: :solution_user_id, value: current_user.id, type: :hidden %>
    <%= form.number_field :assignment_id, id: :solution_assignment_id, value: @assignment.id, type: :hidden %>

    <div class="">
      <%= form.submit "Submit solution", class:"btn btn-blue" %>
    </div>
  </div>
<% end %>